.grid-container {
  display: grid;
  grid-template-columns: repeat(50, 1fr); /* Create 30 columns */
  grid-template-rows: repeat(10, auto); /* Create 10 rows */
  gap: 2px; /* Adjust gap between grid items */
}

@media (max-width: 668px) {
  .grid-container {
    margin-left: -2rem;
  }
}

@media (max-width: 568px) {
  .grid-container {
    margin-left: -3.5rem;
  }
}
@media (max-width: 528px) {
  .grid-container {
    margin-left: -2rem;
  }
}

@media (max-width: 430px) {
  .grid-container {
    margin-left: -4rem;
  }
}

@media (max-width: 400px) {
  .grid-container {
    margin-left: -5.8rem;
  }
}


.grid-item {
  background-color: white;
  padding: 2px;
  text-align: center;
  color: #063f63;
}

.special-column {
  // background-color: red;
  text-transform: uppercase;
  font-weight: bolder;
  color: #f9ab8b
}

.to-upper-case {
  text-transform: uppercase;
}
