.grid-container {
  display: grid;
  grid-template-columns: repeat(50, 1fr); /* Create 30 columns */
  grid-template-rows: repeat(10, auto); /* Create 10 rows */
  gap: 2px; /* Adjust gap between grid items */
}

.grid-item {
  background-color: white;
  padding: 2px;
  text-align: center;
}

.special-column {
  // background-color: red;
  text-transform: uppercase;
  font-weight: bolder;
  // color: goldenrod;

  background: linear-gradient(to bottom, #d8c397 27%, #f5db8d 40%, #3a2c0f 99%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #fff;
}

.to-upper-case {
  text-transform: uppercase;
}
