<header id="header" class="header fixed-top">
  <div class="header-container container-fluid d-flex align-items-center justify-content-between">

    <a href="index.html" class="logo d-flex align-items-center">

    <img src="assets/img/temafanclub_logo.png" class="img-fluid rose rose-transparent" alt="" *ngIf="true">
      <div id="header-name" class="header-name">
        <span class="{{ isInSection ? ' gold-text' : '' }}">TEMA FAN CLUB</span>
        <span class="sub-header-text {{ isInSection ? ' gold-text' : '' }}">GERMANY</span>
      </div>
    </a>

    <nav id="navbar" class="navbar{{openNav ? '-mobile' : ''}}" *ngIf="false">
      <ul>
        <li class="dropdown d-flex">
          <a class="nav-link text-black mb-3 center-element-on-page font-heavy" id="nav-home" (click)="navigateToPage('home')">
            Zuhause
          </a>
        </li>

        <li class="dropdown d-flex">
          <a class="nav-link text-black mb-3 center-element-on-page font-heavy" id="nav-contact"
          (click)="navigateToPage('contact')">
            Kontakt
        </a>
        </li>
        <li class="dropdown d-flex">
          <a class="nav-link text-black mb-3 center-element-on-page font-heavy" id="nav-values"
            (click)="navigateToPage('datenschutz')">
            Datenschutz
          </a>
        </li>
        <li class="dropdown d-flex">
          <a class="nav-link text-black mb-3 center-element-on-page font-heavy" id="nav-services"
            (click)="navigateToPage('impressum')">
            Impressum
          </a>
        </li>
        <!-- <li class="dropdown d-flex">
          <a class="nav-link text-black mb-3 center-element-on-page font-heavy" id="nav-team"
            (click)="navigateToPage('home')">
            Leistungen
          </a>
        </li>
        <li class="dropdown d-flex">
          <a class="nav-link text-black mb-3 pb-3 center-element-on-page font-heavy"
            id="nav-recent-blog-posts" (click)="navigateToPage('home')">
            Beratung
          </a>
        </li>
        <li class="dropdown d-flex">
          <a class="nav-link text-black mb-3 pb-3 center-element-on-page font-heavy"
            (click)="navigateToPage('home')">
            Zusammenarbeit
          </a>
        </li>
        <li class="dropdown d-flex">
          <a class="nav-link text-black mb-3 pb-3 center-element-on-page font-heavy"
            (click)="navigateToPage('home')">
            Angebote
          </a>
        </li> -->
      </ul>
      <i class="bi bi-{{openNav ? 'x' : 'list'}} mobile-nav-toggle" (click)="toggleNav()"></i>
    </nav><!-- .navbar -->
  </div>
</header><!-- End Header -->

<router-outlet/>
