<!-- <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <div class="navbar-left logo image-container">
        <img id="logo-img" src="../assets/rosenstolzLogo.jpg" alt="RosenstolzLogo">
      </div>
    </div>
  </div>
</nav>

<div id="contact">
  <div class="container">
    <div class="row wrapper">
      <div class="col-sm-12 col-xs-12 warning-text">
        <h3>Wir führen derzeit Wartungsarbeiten durch.<br />Wir werden bald wieder online sein.</h3>
        <div class="gap">
          <div class="col-xs-12 phone" id="phone-link">
            <span class="glyphicon glyphicon-earphone"></span>
            <a href="tel:+49(0)7141 4880207">+49(0)7141 4880207</a>
          </div>
          <div class="col-xs-12 mail" id="mail-link">
            <span class="glyphicon glyphicon-envelope"></span>
            <a href="mailto:info@rosenstolz-immo.de">info&#64;rosenstolz-immo.de</a>
          </div>
        </div>

      </div>
    </div>
  </div>

</div> -->

<app-home-page></app-home-page>

<router-outlet />
