<div class="container">
  <header id="header" class="header fixed-top">
    <div class="header-container d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex">
        <div id="header-name" class="header-name">
          <img src="../assets/img/RosenStolzLogoV4.png" alt="">
        </div>
      </a>
    </div>

    <div id="header-nav" class="header-nav">
      <div class="row ms-4">
        <div class="col-lg-10 ps-3">
          <nav id="navbar" class="navbar">
            <ul class="d-flex">
              <li class="mx-3  py-4">
                <a class="nav-link immo-text-black">Kaufen & Mieten</a>
              </li>
              <li class="mx-3  py-4">
                <a class="nav-link immo-text-black">Immobilie verkaufen</a>
              </li>
              <li class="mx-3  py-4">
                <a class="nav-link immo-text-black">Immobilie vermieten</a>
              </li>
              <li class="mx-3  py-4">
                <a class="nav-link immo-text-black">Impressum</a>
              </li>
            </ul>
          </nav>
        </div>
        <div (click)="navigateToPage('contact')" class="button-container col-lg-2">
          <button type="button" class="btn header-contact-button my-3">
            Jetzt kontaktieren
          </button>
        </div>
      </div>

    </div>
  </header><!-- End Header -->

</div>



<router-outlet />
