/* :host {
  height: 100vh;
  overflow-x: hidden;
  display: block;
}


.image-container {
  text-align: center;
}

.wrapper {
  text-align: center;
  margin: 0;
}

.warning-text {
  padding: 0;
  margin: auto;
}

.container {
  padding: 0;
  margin: auto;
}

nav.navbar-default {
  height: 55%;
  margin: 0;
  padding: 0;
  background-color: floralwhite;
}

@media only screen and (max-width: 768px) {
  #logo-img {
    width: 80%;
  }
}

@media only screen and (max-device-width: 480px) {
  nav.navbar-default {
    height: 30%;
  }

  .warning-text {
    width: 90%;
  }

  #contact {
    height: 75% !important
  }
}

@media only screen and (min-width: 960px) {
  #logo-img {
    width: 65% !important;
  }
}

@media only screen and (min-width: 481px) and (max-width: 1024px) and (orientation:landscape) {
  nav.navbar-default {
    height: 55% !important;
  }
  #logo-img {
    width: 50% !important;
  }

  #contact {
    padding-top: 2rem !important;
  }

  #contact h3 {
    font-size: 2rem !important;
  }

}

#contact {
  height: 60%;
  background: #222;
  padding-top: 8rem;
  text-align: center;
}

#contact h3 {
  font-size: 3rem;
  color: floralwhite;
}

.phone,
.mail {
  font-size: 2rem;
}

.phone a,
.mail a {
  margin: 0 1rem;
}

.gap {
  display: block;
  margin-top: 3rem;
}

#contact a,
#contact span.glyphicon {
  color: #adadad;
}

#phone-link:hover .glyphicon-earphone,
#mail-link:hover .glyphicon-envelope,
#phone-link:hover a,
#mail-link:hover a {
  color: #F05F40;
  text-decoration: none;
} */
