<!-- ======= Header ======= -->

<!-- ======= Hero Section ======= -->
<section id="hero-image-section" class="hero d-flex align-items-center pt-0">
  <app-hero-image class="app-hero-image"></app-hero-image>
</section>

<main id="main">
  <!-- ======= F.A.Q Section ======= -->
  <section id="faq" class="faq">

    <div class="container" data-aos="fade-up">

      <header class="section-header wrapper">
        <h1 class="text-center immo-text-black">IHREM VERLÄSSLICHEN PARTNER</h1>
      </header>

      <div class="row">
        <div class="col-lg-2 col-md-0"></div>
        <div  class="col-lg-8 col-md-12 text-center">
          <h4 class="partner-text">
            Ob es um den Kauf, Verkauf oder die Beratung
            geht, bei uns erhalten Sie nicht nur eine
            realistische Einschätzung, sondern auch
            persönliche Betreuung und Unterstützung. Ihre
            Träume sind unsere Priorität. Freuen Sie sich auf
            eine erfolgreiche Zusammenarbeit und eine
            glänzende Zukunft mit Rosenstolz Immobilien!

          </h4>
          <div class="vertical-line"></div>

        </div>
        <div class="col-lg-2 col-md-0"></div>
      </div>

    </div>

  </section>

  <section id="" class="pb-5 mb-5">

    <div class="container pb-5 mb-5" data-aos="fade-up">
      <div class="row gy-3 gx-3">

        <div class="col-lg-6 d-flex align-items-center what-we-do custom-card" data-aos="zoom-out" data-aos-delay="200">
          <div class="img-fluid card-img round-borders">
            <div class="xxx">
              <img src="assets/img/AdobeStock5.jpeg" class="" alt="">
            </div>
          </div>
        </div>

        <div class="col-lg-6 d-flex align-items-center what-we-do custom-card" data-aos="zoom-out" data-aos-delay="200">
          <div class="img-fluid card-img round-borders">
            <div class="xxx">
              <img src="assets/img/AdobeStock1.jpeg" class="" alt="">
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="vertical-line"></div>

  </section>

  <section id="who-are-we" class="faq pt-0 pb-0 pb-lg-5">

    <div class="container mb-5 pb-5" data-aos="fade-up">

      <header class="section-header wrapper">
        <h1 class=" gold-text bg">WIR LIEBEN IMMOBILIEN
        </h1>
      </header>

      <div class="row">
        <div class="col-lg-0 col-md-0"></div>
        <div class="col-lg-12 col-md-12 text-center text-one-rem">
          <h4 class="lieben-immo-text">
            Immobilien sind unsere Leidenschaft.<br> Wir setzen alles daran, dass unsere Kunden dies auch spüren.<br>
            Unsere Kunden sind nicht nur Käufer einer Immobilie.<br>Es sind auch Verkäufer und Vermieter, mit denen wir unsere Leidenschaft teilen möchten.<br>
            Sich Zeit zu nehmen für eine ausführliche Beratung, das ist uns wichtig.<br><br>Die meisten Käufer erwerben zum ersten Mal ein Haus oder eine Wohnung.<br> Wir helfen Unsicherheiten abzubauen, klären wichtige Fragen,<br> verhandeln den Kaufpreis, bereiten den Kaufvertrag vor<br> und gehen mit zur Beurkundung.
            <br>
          </h4>
          <div class="vertical-line"></div>
          <h4 class="word-grid-mobile">
            <app-word-grid></app-word-grid>
          </h4>

        </div>
        <div class="col-lg-0 col-md-0"></div>
      </div>

    </div>
    <div class="vertical-line"></div>

  </section>

  <section id="" class="">

    <div class="container mb-5 pb-5" data-aos="fade-up">
      <header class="section-header wrapper justify-content-center">
        <h1 class="to-upper-case gold-text bg">Unser Leistungsspektrum
        </h1>
      </header>

      <div class="row gx-0">
        <div class="col-lg-6 d-flex flex-column justify-content-center content" data-aos="fade-up" data-aos-delay="200">
          <div class="">
            <h4 class="text-center to-upper-case gold-text bg">Beratung & Begleitung</h4>

            <div class="text-center">
                <h4 class="">Professionelle Beratung
                </h4>
            </div>

            <div class="text-center">
                <h4 class="">Engmaschige Begleitung
                </h4>
            </div>

            <div class="text-center">
                <h4 class="">Transparente Prozesse
                </h4>
            </div>
          </div>
        </div>
        <div class="col-lg-6 d-flex justify-content-center">
          <img src="assets/img/AdobeStock2.jpeg" class="img-fluid contactus-img" alt="">
        </div>

      </div>
    </div>
    <div class="vertical-line"></div>

  </section>

  <section id="" class="">

    <div class="container mb-5 pb-5" data-aos="fade-up">

      <div class="row gx-0">
        <div class="col-lg-6 d-flex justify-content-center">
          <img src="assets/img/AdobeStock3.jpeg" class="img-fluid contactus-img" alt="">
        </div>
        <div class="col-lg-6 d-flex flex-column justify-content-center content" data-aos="fade-up" data-aos-delay="200">
          <div class="">
            <h4 class="text-center to-upper-case gold-text bg">Professionelle Wertermittlung</h4>

            <div class="text-center">
                <h4 class="">Aufbereitung aller relevanten Unterlagen
                </h4>
            </div>

            <div class="text-center">
                <h4 class="">Ermitteln des marktgerechten Preises
                </h4>
            </div>

            <div class="text-center">
                <h4 class="">Verwendung erstklassiger Software
                </h4>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="vertical-line"></div>

  </section>

  <section id="" class="">

    <div class="container mb-5 pb-5" data-aos="fade-up">

      <div class="row gx-0">
        <div class="col-lg-6 d-flex flex-column justify-content-center content" data-aos="fade-up" data-aos-delay="200">
          <div class="">
            <h3 class="text-center to-upper-case gold-text bg">
              Ihre Immobilie im Richtigen Licht</h3>

            <div class="text-center">
                <h4 class="">Professionelle Bilder
                </h4>
            </div>

            <div class="text-center">
                <h4 class="">Drohnenaufnahmen
                </h4>
            </div>

            <div class="text-center">
                <h4 class="">360° Touren
                </h4>
            </div>
            <div class="text-center">
                <h4 class="">Home - Staging
                </h4>
            </div>
          </div>
        </div>
        <div class="col-lg-6 d-flex justify-content-center">
          <img src="assets/img/AdobeStock10.jpeg" class="img-fluid contactus-img" alt="">
        </div>

      </div>
    </div>
    <div class="vertical-line"></div>

  </section>

  <section id="" class="">

    <div class="container mb-5 pb-5" data-aos="fade-up">

      <div class="row gx-0">
        <div class="col-lg-6 d-flex justify-content-center">
          <img src="assets/img/AdobeStock15.jpeg" class="img-fluid contactus-img" alt="">
        </div>
        <div class="col-lg-6 d-flex flex-column justify-content-center content" data-aos="fade-up" data-aos-delay="200">
          <div class="">
            <h3 class="text-center to-upper-case gold-text bg">
              Begleitung zum Notartermin</h3>


                <h4 class="text-center">Vereinbaren eines Notartermins
                </h4>


                <h4 class="text-center">Ansprechpartner zum Thema Beurkundung
                </h4>


                <h4 class="text-center">Auf Wunsch Begleitung zur Schlüsselübergabe
                </h4>
          </div>
        </div>

      </div>
    </div>
    <div class="vertical-line"></div>

  </section>

  <!-- ======= About Section ======= -->
  <section id="about" class="about mt-md-5 mt-s-3">

    <div class="container" data-aos="fade-up">
      <header class="section-header wrapper justify-content-center">
        <h1 class=" gold-text bg">MELDEN SIE SICH GERNE…
        </h1>
      </header>

      <div class="row gx-0">
        <div class="col-lg-12 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
          <div class="">

            <h4 class=" text-center">…jederzeit bei uns, <br>wir laden Sie auf ein

              Getränk oder ein Essen ein.<br>

              Wenn wir helfen können,

              umso besser!<br>
              Wir freuen uns auf Sie!
            </h4>
          </div>
        </div>
      </div>
    </div>

  </section>



</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-4 col-md-12 col-12 mb-sm-0 footer-info">
          <div class="logo d-flex align-items-center center-bottom-logo-mobile">
            <a href="index.html" class="logo d-flex">
              <div id="header-name" class="header-name">
                <img src="../assets/img/RosenStolzLogoV4.png" alt="">
              </div>
            </a>
          </div>

          <!-- <h4 class="footer-contact text-center text-md-start">FOLLOW US</h4> -->
          <div class="social-links mt-3" *ngIf="false">
            <a class="twitter"><i class="bi bi-twitter"></i></a>
            <a class="facebook"><i class="bi bi-facebook"></i></a>
            <a class="instagram"><i class="bi bi-instagram"></i></a>
            <a class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-8 col-md-12 footer-contact text-center text-md-end">
          <div class="" (click)="navigateToPage('contact')">
            <h4 class="">Kontaktieren Sie uns</h4>
          </div>

          <div class="mt-4">
            Oskar-Schlemmer-Str. 14 <br>
            71679 Asperg<br>
            Deutschland <br>
            <div class="mt-2">
              <strong class="gold-text kontakt-tel-email">Tel:</strong>+49 (0) 7141 4880207<br>
            </div>
            <strong class="gold-text kontakt-tel-email">E-Mail:</strong> info&#64;rosenstolz-immo.de<br>
          </div>

        </div>

      </div>
    </div>
  </div>

  <!-- <div class="container">
    <div class="copyright">
      &copy; Copyright <strong><span>Rosenstolz-Immo</span></strong>. All Rights Reserved
    </div>

  </div> -->
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center" id="back-to-top"><i
    class="bi bi-arrow-up-short"></i></a>
